@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom styles */
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue'; }
.leaflet-container { border-radius: 0.75rem; height: 520px; }
.fade-enter { opacity: 0; transform: translateY(6px); } 
.fade-enter-active { opacity: 1; transform: translateY(0); transition: all 300ms ease; }
/* color theme */
.bg-danger { background-color: theme('colors.danger'); }
